/* Estilos generales del documento */
html {
  font-family: 'Ultima Pro', sans-serif, 'roboto';
  background-color: #eeeeee;
}

/* Estilos de la fuente personalizada */
@font-face {
  font-family: 'Ultima Pro';
  src: url(font/UltimaPro.otf) format('truetype');
}

/* Estilos del contenedor principal */
.container {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}
.secondary-container {
  border: 1px solid white;
  padding: 20px;
  border-radius: 10px;
  background-color:#CF5B28;
}
/* Estilos de los encabezados */
h1 {
  color: #A31E0C;
  text-align: center;
  font-size: 24px;
}

h2 {
  color: #CF5B28;
  font-size: 22px;
}

h3 {
  font-weight: normal;
  color: #423b31;
  font-size: 20px;
}

/* Estilos de los párrafos y listas */
p {
  font-size: 16px;
  color: #201c1b;
  font-weight: normal;
}

li {
  color: #201c1b;
  font-size: 16px;
  font-weight: normal;
  margin-right: 100px;
}
ul{
  list-style-type: disc; /* Viñetas redondas */
  color: #43302C;
}
ol{
  color: #43302C;
}

/* Estilos de alineación */
.align-left {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.texto {
  clear: left;
}

/* Estilos de los enlaces */
a {
  color: #43302C;
  text-decoration: underline;
}

a:hover {
  color: #A31E0C;
  text-decoration: underline;
}

/* Estilos del texto */
hr {
  border-color: #CF5B28;
}
.two-color-title {
  background-image: linear-gradient(to right, #E2812E, #AE2C12);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
strong {
  color: #43302C;
}

/* Estilos de la caja de texto */
.my-input {
  width: 200px;
  height: 23px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos de los botones */
.my-button {
  background-color: #CF5B28;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: 'UltimaPro', sans-serif;
}

.my-inline-button {
  display: inline-block;
}

  /* Estilos para la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  /* Estilos adicionales */
  .food-table {
    margin-top: 20px;
  }

  .food-table td:nth-child(1) {
    text-align: center;
  }
  .food-table td:nth-child(2) {
    text-align: center;
  }
  .food-table td:nth-child(3) {
    text-align: center;
  }

  .food-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  .food-table tr:hover {
    background-color: #e0e0e0;
  }

  .resolucion {
    width: 99%;
    text-align: center;
}


/**Movil**/

@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
}


/**Tablet**/

@media (min-width: 768px) and (max-width: 990px) {
    .desktop {
        display: none;
    }
    .movil {
        display: none;
    }
}


/**Escritorio**/

@media (min-width: 991px) {
    .tablet {
        display: none;
    }
    .movil {
        display: none;
    }
}